*:focus {
  outline: 0 !important;
}

body {
  background-color: #fff !important;
}

a:hover {
 font-weight: normal !important;
 color: #555 !important;
}

#popup {
  width: 250px;
}

#header-popup {
  padding: 5px;
  font-size: 20px;
  font-weight: 100;
  border-bottom: #CCC 1px dashed;
}

#content-popup {
  padding: 10px;
  font-size: 100%;
}